/* global */
body {
    color: #000;
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}

p {
    letter-spacing: .00625em;
    line-height: 1.6;
}

hr {
    width: 75%;
}

.btn {
    font-family: "Inconsolata", monospace;    
}

.three-d-box {
    box-shadow: 3px 3px 0px 0px #000;
}

.squiggle-line {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg id='underline-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='%23000' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-size: auto 3px;
    background-position: 0 100%;
    background-repeat: repeat-x;
}

.stripey {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg id='stripe-svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2' stroke='%23000' stroke-width='1' /%3E%3C/svg%3E");
    background-size: 10px 10px;
}

.make-circle {
    border-radius: 50%;
    height: 10rem;
}

/* this is annoying - fontawesome */
.fa {
    font-size: 1.25em;
}

/* nav */
nav {
    overflow: hidden;
    width: 100%;
}

#brand h3 {
    margin-top: .25rem;
    font-family: "Raleway", sans-serif;
    word-wrap: break-word;
}

#brand a {
    text-decoration: none;
    color: #000;
}

#brand p {
    float: right;
    margin-top: -5.75em;
}

nav ul {
    float: right;
}

nav li a {
    text-decoration: none;
    color: #000;
    letter-spacing: .00625em;
}

/* schedule */
#schedule img {
    max-width: 99%;
}

/* post */
#post img {
    max-width: 99%;
}

.first-p::first-letter {
    color: #000;
    border: solid 1px #000;
    padding: .25em;
    float: left;
    font-size: 4em;
    margin: 0 .2em 0 0;
}

/* footer */
footer p {
    letter-spacing: .0625em;
}

.footer-info {
    font-family: "Inconsolata", Courier New, Courier, monospace;
    line-height: initial;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {  }

/* Larger than tablet screen */
@media (min-width: 80.0rem) {  }

/* Larger than desktop screen */
@media (min-width: 120.0rem) {  }